<form action="/quiz/end" method="post">
  {% for question in questions %}
    <h2>{{ question.text }}</h2>
    <ul>
      {% set questionId = "answer-" + loop.index %}
      {% for answer in question.answers %}
        <li>
          <input 
            type="radio"
            id="{{ questionId }}"
            name="{{questionId}}"
            value="{{ answer }}">
          <label for="answers">{{ answer }}</label>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
  <button type="submit">Skicka</button>
</form>