{% extends "layout.njk" %}
{% block content %}
<h1>{{message}}</h1>
<span>{{ points }} / {{ maxpoints }}</span>

{% for result in results %}
<div class="{% if result.correct %}correct{% else %}wrong{% endif %}">
  <ul>
    <li>Question: {{ result.question}} </li>
    <li>Answer: {{ result.answer}} </li>
  </ul>
</div>
{% endfor %}




<a href="/quiz/questions">Restart</a>
{% endblock %}
